{{#if bounds}}
    {{!-- <div uk-grid class='uk-grid-collapse'> --}}
          {{!-- <img class='ahc-logo' src='http://www.atlantahistorycenter.com/assets/images/AHC_Brand_Asset_Lockup_White.png'> --}}
  <div class='uk-offcanvas-content'>
    {{#poi-detail panel=panel on-hide=(action 'reCenter') on-shown=(action 'flyToHotspot') activeHotspot=activeHotspot}}
      <div class='uk-offcanvas-bar uk-flex uk-flex-column'>
{{#if activeHotspot}}
{{!-- <button class="uk-offcanvas-close" type="button" uk-close onclick={{action 'reCenter'}}></button> --}}
{{!-- <button class="uk-offcanvas-close" type="button" uk-close></button> --}}
<div class='uk-child-width-1-1' uk-grid>
  <section class='uk-margin'>
    <article class='uk-article description uk-padding'>
      <h2 style='text-transform: uppercase;'>{{activeHotspot.name}}</h2>
      {{{activeHotspot.description}}}
    </article>
  </section>

<section>
<div class="uk-position-relative uk-visible-toggle uk-light" uk-slider center=true>

<ul class="uk-slider-items uk-grid uk-child-width-3-4" uk-grid>
<li>
<div class="uk-panel uk-text-center">
  <img src="https://battleofatlanta.digitalscholarship.emory.edu/media/stops/Augustus_Hurt_House_Theodore_Davis_2_580x0.jpg" alt="">
</div>
</li>

<li>
<div class="uk-panel uk-text-center">
  <img src="https://battleofatlanta.digitalscholarship.emory.edu/media/stops/Cobb_House_580x0.jpg" alt="">
</div>
</li>
<li>
<div class="uk-panel uk-text-center">
  <img src="https://battleofatlanta.digitalscholarship.emory.edu/media/stops/Confederate_Fortifications_around_Atlanta_GA_580x0.jpg" alt="">
</div>
</li>
<li>
<div class="uk-panel uk-text-center">
  <img src="https://battleofatlanta.digitalscholarship.emory.edu/media/stops/Augustus_Hurt_House_Theodore_Davis_2_580x0.jpg" alt="">
</div>
</li>

<li>
<div class="uk-panel uk-text-center">
  <img src="https://battleofatlanta.digitalscholarship.emory.edu/media/stops/Cobb_House_580x0.jpg" alt="">
</div>
</li>
<li>
<div class="uk-panel uk-text-center">
  <img src="https://battleofatlanta.digitalscholarship.emory.edu/media/stops/Confederate_Fortifications_around_Atlanta_GA_580x0.jpg" alt="">
</div>
</li>
</ul>

<a class="uk-position-center-left uk-position-small gallery-arrow" href='' uk-slider-item="previous">
{{fa-icon 'angle-left'}}
</a>
<a class="uk-position-center-right uk-position-small gallery-arrow" href='' uk-slider-item="next">
{{fa-icon 'angle-right'}}
</a>

<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
</section>

<nav class='poi-detail-nav uk-child-width-1-3' uk-grid>
  {{#if activeHotspot.previous}}
    <div role='link' onclick={{action 'previous' activeHotspot.previous}}>{{fa-icon 'angle-left'}} Previous</div>
  {{/if}}
  <div onclick={{action 'reCenter'}}>{{fa-icon 'undo'}} Return to Painting</div>
  {{#if activeHotspot.next}}
    <div role='link' onclick={{action 'next' activeHotspot.next}}>Next {{fa-icon 'angle-right'}}</div>
  {{/if}}
</nav>
</div>
{{/if}}
</div>
{{/poi-detail}}

{{!-- maxBounds=bounds --}}
        {{#leaflet-map
          onLoad=(action 'initMap')
          onResize=(action 'reSize')
          bounds=bounds
          zoomSnap=0
          bounceAtZoomLimits=false
          maxBoundsViscosity=1.0
          maxZoom=10
          minZoom=4
          crs=crs
          bounceAtZoomLimits=false
          zoomControl=false
          onZoomend=(action 'zoomend')
        as |features|}}
          

          {{!-- {{draw-control}} --}}

          {{features.tile
            url='https://s3.amazonaws.com/battleofatlanta/tiles/q1/{z}/{x}/{y}.png'
            onLoad=(action 'paintingLoaded')
            bounds=bounds
            minZoom=3
          }}

          {{painting-pois
            pois=activePois
            highlight=(action 'highlightHotspot')
          }}

        {{/leaflet-map}}

</div>

<div class='bottom-nav bottom-nav' uk-grid>
  <div class='uk-visible@l uk-width-1-6@l uk-width-1-6@m uk-flex uk-flex-center uk-text-center'>    
  </div>
  <div class='uk-visible@l uk-width-1-6@l uk-width-1-6@m'></div>
  <div class=' uk-margin uk-width-2-4@m uk-width-1-3@l uk-width-1-1@s uk-transform-origin-bottom-center uk-child-width-expand@l uk-child-width-1-1@m uk-grid-large uk-text-center uk-flex-center uk-grid-collapse {{if activeHotspot 'uk-animation-slide-bottom-medium uk-animation-reverse' 'uk-animation-slide-bottom'}} uk-grid'>
      {{#each buttons as |button index|}}
      <div class='poi-nav-button uk-child-width-1-1 uk-text-center uk-flex-center uk-grid-collapse {{if (eq index 2) 'uk-margin-right'}} {{if button.active 'active-poi'}}' role='button' onclick={{action 'switchPoi' button}} uk-grid>
        <img class='uk-border-circle' src={{button.icon}} alt={{concat 'Button to highlight ' button.label ' in the painting.'}}>
      <p>{{button.label}}</p>
      </div>
      {{/each}}
      <div class='poi-nav-button tour-button active-poi uk-child-width-1-1 uk-text-center uk-flex-center uk-grid-collapse uk-margin-left' onclick={{action 'showTours'}} uk-grid>
        <img class='uk-border-circle' src='images/tours.png' alt="Button to show available tours.">
      <p>TOURS</p>
      </div>
  </div>
  <div class='uk-visible@l uk-width-1-6@l uk-width-1-6@m uk-margin-remove' uk-grid>
      {{map-controls map=_map}}
  </div>
  <div class='uk-visible@l uk-width-1-6@l uk-flex uk-flex-middle uk-flex-center'>
    <div id='minimap' class='uk-flex uk-flex-center'></div>
  </div>
</div>

{{/if}}
{{#if showingTours}}
{{tour-menu active=showingTours hide=(action 'hideTours')}}
{{/if}}