{{#if bounds}}
<div class='uk-offcanvas-content'>
  <div id='panel'>
    <div class='uk-offcanvas-bar uk-flex uk-flex-column'>
      <button class="uk-offcanvas-close" type="button" uk-close onclick={{action 'reCenter'}}></button>
      <h2>{{activeHotSpot.title}}</h2>
      <section>
        {{{activeHotSpot.description}}}
      </section>
      <section uk-grid>
        {{#uk-button class='uk-width-1-2' on-click=(action 'previous' activeHotSpot.index)}}previous{{/uk-button}}
        {{#uk-button class='uk-width-1-2' on-click=(action 'next' activeHotSpot.index)}}Next{{/uk-button}}
      </section>
    </div>
  </div>

  {{!-- <div class={{if showThumbNav 'with-nav'}}> --}}
    <div uk-grid class='uk-grid-collapse'>
    <div class='painting-container uk-width-1-1 {{if showThumbNav 'with-nav'}}'>
      {{#leaflet-map
        onLoad=(action 'initMap')
        onResize=(action 'reSize')
        bounds=bounds
        maxBounds=bounds
        bounceAtZoomLimits=false
        onClick=(action 'reCenter')
      as |features|}}

        {{features.wms-tile
          url='https://geoserver-private.ecds.emory.edu/ECDS_Projects/wms'
          layers='ECDS_Projects:kioskexample_geo'
          format='image/png'
          transparent=true
          bounds=bounds
          noWrap=true
          crs=crs
          tileSize=512
        }}

        {{!-- {{features.tile
          url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"
        }} --}}

        {{#each hotSpots as |hotSpot|}}
          {{#features.polygon
            locations=(doughnut hotSpot.polygon)
            color=hotSpot.fillColor
            fillOpacity=hotSpot.fillOpacity
            opacity=0
            interactive=false
            smoothFactor=10
            }}
          {{/features.polygon}}
        {{/each}}
        {{#each hotSpots as |hotSpot|}}
          {{#features.polygon
            locations=hotSpot.polygon
            opacity=0
            fillOpacity=0
            onClick=(action 'highlight' hotSpot)
          }}
          {{/features.polygon}}
        {{/each}}
      {{!-- {{draw-control}} --}}
      {{/leaflet-map}}
    </div>

<div class='uk-width-1-1 bottom-nav'>
<ul class='cyc-tabs uk-subnav uk-sub nav-pill uk-margin-remove-left' uk-switcher="animation: uk-animation-fade">
    <li class='uk-padding uk-padding-remove-vertical'>Explore</li>
    <li class='uk-padding uk-padding-remove-vertical'>Take a Tour</li>
</ul>

{{!-- <div class='cyc-tabs' uk-switcher="animation: uk-animation-fade">
    <button class="uk-button uk-button-large" type="button">explore</button>
    <button class="uk-button uk-button-large" type="button">take a tour</button>
</div> --}}

<ul class="uk-switcher uk-margin">
    <li>
      {{#each hotSpots as |hotSpot index|}}
        <img class='uk-padding-small uk-border-circle thumb-nav' onclick={{action 'highlight' hotSpot index}} src='{{hotSpot.thumbnail}}' />
      {{/each}}
    </li>
    <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
</ul>
</div>
</div>

    {{!-- <div class='thumb-nav uk-margin'>
      <ul class='uk-thumbnav'>
      {{#each hotSpots as |hotSpot|}}
        <li class='uk-active'><img class='uk-margin' onclick={{action 'highlight' hotSpot}} src='{{hotSpot.thumbnail}}' /></li>
      {{/each}}
      </ul>
    </div>
  {{!-- </div> --}}
</div>
{{/if}}
