{{#if bounds}}
    <div uk-grid class='uk-grid-collapse'>
  <div class='uk-offcanvas-content'>
    <div id='panel'>
      <div class='uk-offcanvas-bar uk-flex uk-flex-column'>
        <button class="uk-offcanvas-close" type="button" uk-close onclick={{action 'reCenter'}}></button>
        <h2>{{activeHotspot.name}}</h2>
        <section>
          {{{activeHotSpot.description}}}
        </section>
        <section uk-grid>
          {{#uk-button class='uk-width-1-2' on-click=(action 'previous' activeHotSpot.index)}}previous{{/uk-button}}
          {{#uk-button class='uk-width-1-2' on-click=(action 'next' activeHotSpot.index)}}Next{{/uk-button}}
        </section>
      </div>
    </div>

      <div class='painting-container uk-width-1-1'>
        {{#leaflet-map
          onLoad=(action 'initMap')
          onResize=(action 'reSize')
          bounds=bounds
          zoomSnap=0
          maxBounds=bounds
          bounceAtZoomLimits=false
          maxBoundsViscosity=1.0
          minZoom=3
          maxZoom=10
          crs=crs
          bounceAtZoomLimits=false
          onClick=(action 'reCenter')
          onZoomend=(action 'whatBounds')
          as |features|}}

          {{draw-control}}

          {{features.tile
            url='https://s3.amazonaws.com/battleofatlanta/tiles/q1/{z}/{x}/{y}.png'
            onLoad=(action 'paintingLoaded')
          }}

          {{painting-pois
            pois=activePois
            highlight=(action 'highlightHotspot')
            flyToPoi=(action 'flyToHotspot')
          }}

          {{!-- {{features.marker
            lat=-62.89937553341878
            lng=136.876317011345

            icon=(
              div-icon
              html='<div class="jesse-dot"><div class="dot"></div><div class="pulsate-ring"></div></div>'
            )
          }}

          {{features.marker
            lat=-44.956256836014916
            lng=170.73780106308436

            icon=(
              div-icon
              html='<div class="jesse-dot"><div class="dot"></div><div class="pulsate-ring"></div></div>'
            )
          }}

          {{features.marker
            lat=-63.51993280566745
            lng=221.2729610940493

            icon=(
              div-icon
              html='<div class="jesse-dot"><div class="dot"></div><div class="pulsate-ring"></div></div>'
            )
          }}

          {{features.marker
            lat=-63.35850953636612
            lng=232.7362082576228

            icon=(
              div-icon
              html='<div class="jesse-dot"><div class="dot"></div><div class="pulsate-ring"></div></div>'
            )
          }}

          {{features.marker
            lat=-74.25458021420565
            lng=140.46514130012613

            icon=(
              div-icon
              html='<div class="jesse-dot"><div class="dot"></div><div class="pulsate-ring"></div></div>'
            )
          }} --}}

        {{/leaflet-map}}

      </div>
</div>
      <div class='uk-width-1-1 bottom-nav uk-container'>
        <div uk-grid>
          <div class='uk-width-1-4 ahc-logo uk-inline'>
            <img class='uk-position-center' src='http://www.atlantahistorycenter.com/assets/images/AHC_Brand_Asset_Lockup_White.png'>
          </div>
          
          <div class='uk-width-1-2'>
            <div class='poi-nav' uk-grid>
              
              {{#each buttons as |button|}}
              <div class='uk-width-1-4 poi-nav-button uk-inline {{if button.active 'active-poi'}}' role='button' onclick={{action 'switchPoi' button}}>
                <div class='uk-text-center uk-grid-collapse uk-position-center' uk-grid>
                  <img class='uk-width-1-1 uk-border-circle' src={{button.icon}} alt={{concat 'Button to highlight ' button.lable ' in the painting.'}}>
                  <p class='uk-width-1-1 uk-margin-small-top'>{{button.label}}</p>
                </div>
              </div>
              {{/each}}
              
              <div class='uk-width-1-4 poi-nav-button uk-inline' style='border-left: solid white; line-height: 20px;'>
                <div class='uk-text-center uk-grid-collapse uk-position-center active-poi' uk-grid>
                  <img class='uk-width-1-1 uk-border-circle' src="images/tours.png" alt="Border circle">
                  <p class='uk-width-1-1 uk-margin-small-top'>TOURS</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class='uk-width-1-4 uk-margin-small'>
            <div class='uk-grid-collapse active-poi' uk-grid>
              <div class='uk-width-1-2'>
                <img src='/images/view.png' style='height: 90px'>
              </div>
              <div class='uk-width-1-2' id='minimap'></div>
            </div>
          </div>
        </div>
      </div>
    </div>


{{/if}}
