<div class='uk-offcanvas-content'>
  {{#poi-detail panel=panel}}
  {{#each model.quad.pois as |poi|}}
  {{#if poi.active}}
  <div class='poi-detail-content uk-child-width-1-1 uk-overflow-auto' uk-grid>
    <section class='uk-margin'>
      <article class='uk-article description uk-padding'>
        <h2>{{poi.name}}</h2>
        {{{poi.description}}}
      </article>
    </section>

    {{#if poi.images}}
    <section>
      <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider center=true>
        <ul class="uk-slider-items uk-grid uk-child-width-3-4" uk-grid>
          {{#each poi.images as |image|}}
          <li>
            <figure class='uk-panel uk-text-center'>
              <img src={{image.url}} alt={{image.caption}}>
              <figcaption class='uk-text-left uk-margin-top'>{{{image.caption}}}</figcaption>
            </figure>
          </li>
          {{/each}}
          {{!-- <li class='uk-panel'>
            <div class='uk-card uk-card-default uk-position-center uk-card-body uk-width-1-2'>
              <ol>
                {{#each poi.images as |image|}}
                <li>
                  {{image.caption}}
                </li>
                {{/each}}
              </ol>
            </div>
          </li> --}}
        </ul>

        <a class="uk-position-center-left uk-slidenav-large uk-position-small gallery-arrow" href=''
          uk-slidenav-previous uk-slider-item="previous">
          {{!-- {{fa-icon 'angle-left'}} --}}
        </a>
        <a class="uk-position-center-right uk-slidenav-large uk-position-small gallery-arrow" href='' uk-slidenav-next
          uk-slider-item="next">
          {{!-- {{fa-icon 'angle-right'}} --}}
        </a>
        {{!-- <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul> --}}
      </div>
    </section>
    {{/if}}
  </div>
  <nav class='poi-detail-nav uk-child-width-1-3 uk-margin uk-margin-remove-bottom uk-padding uk-padding-remove-right uk-padding-remove-left {{poi.point.properties.type}}' uk-grid>
    <div>
      {{#if poi.previous}}
      {{#uk-button color='link' on-click=(perform highlightPoi poi.previous)}}
      {{fa-icon 'angle-left'}} {{poi.previous.name}}
      {{/uk-button}}
      {{/if}}
    </div>
    <div>
      {{#uk-button color='link' on-click=(perform closePanel)}}
      Back to Painting
      {{/uk-button}}
    </div>
    <div>
      {{#if poi.next}}
      {{#uk-button color='link' on-click=(perform highlightPoi poi.next)}}
      {{poi.next.name}} {{fa-icon 'angle-right'}}
      {{/uk-button}}
      {{/if}}
    </div>
  </nav>
  {{/if}}
  {{/each}}
  {{/poi-detail}}

  {{#if model.quad.paintingBounds}}
  {{#leaflet-map
  onLoad=(perform initMap)
  onResize=(perform reSize)
  onZoomend=(action 'zoomend')
  onMoveend=(action 'moveend')
  bounds=model.quad.paintingBounds
  zoomSnap=0
  maxBoundsViscosity=1.0
  crs=crs
  bounceAtZoomLimits=true
  zoomControl=false
  class='painting'
  as |features|}}

  {{features.image
  url=model.quad.painting
  bounds=model.quad.paintingBounds
  onLoad=(action 'setPaintingView')
  }}

  {{#each model.quad.pois as |poi|}}
  {{#if poi.show}}
  {{#if poi.active}}
  {{features.geoJSON
  geoJSON=poi.polygon
  style=setStyle
  onAdd=(perform showPanel)
  }}
  {{else}}
  {{features.geoJSON
  geoJSON=poi.point
  pointToLayer=(action 'setDot' poi)
  onClick=(perform highlightPoi poi)
  }}
  {{/if}}
  {{/if}}
  {{/each}}

  {{!-- {{painting-pois
  pois=model.quad.pois
  activePoi=activePoi
  editing=edit
  highlight=painting.highlightPoi
  }} --}}

  {{/leaflet-map}}
  {{/if}}

  <div class='bottom-nav uk-padding uk-padding-remove-bottom uk-padding-remove-left uk-padding-remove-right uk-grid {{if activePoi 'hide-bottom-nav'}}' uk-grid>
    <div class='uk-width-1-4 uk-transform-origin-bottom-center uk-child-width-1-1 uk-grid-small' style='margin-top: 15px;' uk-grid>
      <div class='uk-child-width-1-1 uk-text-center uk-flex-center uk-grid-collapse' uk-grid>
        <div id='minimap' class='uk-margin-remove uk-text-center uk-flex-center'></div>
        <div class='uk-text-center uk-flex-center'>
          <p class='sentence'>You are facing northeast</p>
        </div>
      </div>
    </div>

    <div class='uk-width-1-2 uk-transform-origin-bottom-center uk-child-width-1-4 uk-grid-small' uk-grid>
      {{#each buttons as |button index|}}
      <div class='poi-nav-button uk-child-width-1-1 uk-text-center uk-flex-center uk-grid-collapse' uk-grid>
        <div class='uk-margin-remove poi-nav-button uk-text-center uk-flex-center {{if button.active 'active-poi'}}' role='button' onclick={{action 'switchPoiType' button}}>
          <img class='uk-border-circle' src={{concat '/' button.icon}} alt={{concat 'Button to highlight ' button.label ' in the painting.'}}>
          </div>
          <div class='uk-text-center uk-flex-center'>
          <p>{{button.label}}</p>
        </div>
      </div>
      {{/each}}
      <div class='poi-nav-button uk-child-width-1-1 uk-text-center uk-flex-center uk-grid-collapse active-poi' role='button' onclick={{action 'showTours'}} uk-grid>
        <img class='uk-border-circle' src='/images/tours.png' alt="Button to show available tours.">
        <p>Tours</p>
      </div>
    </div>

    <div class='uk-child-width-1-1 uk-text-center uk-flex-center uk-grid-collapse' uk-grid>
      {{map-controls map=model.quad.map reCenter=(perform reCenter)}}
    </div>
  </div>

  {{#if showingTours}}
  {{tour-menu start=(perform highlightPoi) showing=showingTours tours=model.tours active=showingTours hide=(action 'hideTours')}}
  {{/if}}

</div>