<div class='uk-offcanvas-content'>
  {{#poi-detail panel=panel}}
      {{#each model.pois as |poi|}}
        {{#if poi.active}}
          <div class='poi-detail-content uk-child-width-1-1 uk-overflow-auto' uk-grid>
            <section class='uk-margin'>
              <article class='uk-article description uk-padding'>
                <h2 style='text-transform: uppercase;'>{{poi.name}}</h2>
                {{{poi.description}}}
              </article>
            </section>

            {{#if poi.images}}
            <section>
              <div class="uk-position-relative uk-visible-toggle uk-light" uk-slider center=true>
                <ul class="uk-slider-items uk-grid uk-child-width-3-4" uk-grid>
                  {{#each poi.images as |image|}}
                    <li>
                      <div class='uk-panel uk-text-center'>
                        <img src={{image.url}} alt="">
                      </div>
                    </li>
                  {{/each}}
                  <li class='uk-panel'>
                    <div class='uk-card uk-card-default uk-position-center uk-card-body uk-width-1-2'>
                      <ol>
                        {{#each poi.images as |image|}}
                          <li>
                            {{image.caption}}
                          </li>
                        {{/each}}
                      </ol>
                    </div>
                  </li>
                </ul>

                <a class="uk-position-center-left uk-slidenav-large uk-position-small gallery-arrow" href='' uk-slidenav-previous uk-slider-item="previous">
                  {{!-- {{fa-icon 'angle-left'}} --}}
                </a>
                <a class="uk-position-center-right uk-slidenav-large uk-position-small gallery-arrow" href='' uk-slidenav-next uk-slider-item="next">
                  {{!-- {{fa-icon 'angle-right'}} --}}
                </a>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
              </div>
            </section>
            {{/if}}
          </div>
          <nav class='poi-detail-nav uk-child-width-1-3 uk-margin' uk-grid>
            <div>
              {{#if poi.previous}}
                {{#uk-button color='primary' on-click=(action 'highlightPoi' poi.previous)}}
                  {{fa-icon 'angle-left'}} {{poi.previous.name}}
                {{/uk-button}}
              {{/if}}
            </div>
            <div>
              {{#uk-button color='secondary' on-click=(action 'closePanel')}}
                {{fa-icon 'undo'}} Return to Painting
              {{/uk-button}}
            </div>
            <div>
              {{#if poi.next}}
                {{#uk-button color='primary' on-click=(action 'highlightPoi' poi.next)}}
                  {{poi.next.name}} {{fa-icon 'angle-right'}}
                {{/uk-button}}
              {{/if}}
            </div>
          </nav>
        {{/if}}
      {{/each}}
  {{/poi-detail}}

  {{#if model.paintingBounds}}
  {{#leaflet-map
    onLoad=(action 'initMap')
    onResize=(action 'reSize')
    onZoomend=(action 'zoomend')
    onMoveend=(action 'moveend')
    bounds=model.paintingBounds
    zoomSnap=0
    bounceAtZoomLimits=false
    maxBoundsViscosity=1.0
    crs=crs
    bounceAtZoomLimits=false
    zoomControl=false
    class='painting'
  as |features|}}

    {{features.image
      url=model.painting
      bounds=model.paintingBounds
      onLoad=(action 'setPaintingView')
    }}

    {{#each model.pois as |poi|}}
    {{#if poi.show}}
      {{#if poi.active}}
        {{features.geoJSON
          geoJSON=poi.polygon
          style=setStyle
        }}
      {{else}}
      {{features.geoJSON
        geoJSON=poi.point
        pointToLayer=(action 'setDot' poi)
        onClick=(action 'highlightPoi' poi)
      }}
      {{/if}}
      {{/if}}
    {{/each}}

    {{!-- {{painting-pois
      pois=model.pois
      activePoi=activePoi
      editing=edit
      highlight=painting.highlightPoi
    }} --}}

  {{/leaflet-map}}
  {{/if}}

<div class='bottom-nav bottom-nav' uk-grid>
  <div class='uk-visible@l uk-width-1-3@l uk-width-1-6@m uk-flex uk-flex-center uk-text-center'></div>
  <div class='uk-margin uk-width-1-3@l uk-width-1-3@m uk-width-1-1@s uk-transform-origin-bottom-center uk-child-width-expand@l uk-child-width-1-1@m uk-grid-large uk-text-center uk-flex-center uk-grid-collapse {{if activePoi 'uk-animation-fade uk-animation-reverse' 'uk-animation-fade'}} uk-grid'>
    {{#each buttons as |button index|}}
      <div class='poi-nav-button uk-child-width-1-1 uk-text-center uk-flex-center uk-grid-collapse {{if (eq index 2) 'uk-margin-right'}} {{if button.active 'active-poi'}}' role='button' onclick={{action 'switchPoiType' button}} uk-grid>
        <img class='uk-border-circle' src={{concat '/' button.icon}} alt={{concat 'Button to highlight ' button.label ' in the painting.'}}>
        <p>{{button.label}}</p>
      </div>
    {{/each}}
    <div class='poi-nav-button tour-button active-poi uk-child-width-1-1 uk-text-center uk-flex-center uk-grid-collapse uk-margin-left' onclick={{action 'showTours'}} uk-grid>
      <img class='uk-border-circle' src='/images/tours.png' alt="Button to show available tours.">
      <p>Tours</p>
    </div>
  </div>
  <div class='uk-visible@l uk-width-1-6 uk-transform-origin-bottom-center uk-grid-collapse uk-flex uk-flex-middle {{if activePoi 'uk-animation-fade uk-animation-reverse' 'uk-animation-fade'}}' uk-grid>
    {{map-controls map=model.map reCenter=(action 'reCenter')}}
  </div>
  <div id='minimap' class='uk-visible@l uk-width-1-6 uk-flex-middle uk-flex uk-flex-center'></div>
</div>

{{#if showingTours}}
  {{tour-menu active=showingTours hide=(action 'hideTours')}}
{{/if}}

</div>