{{yield}}
{{!-- <button class="uk-offcanvas-close" type="button" onclick=closePanel uk-close></button> --}}
<form class="uk-form-stacked">
  <h2>Metadata</h2>
  <div class="uk-margin">
    <label class="uk-form-label" for={{concat 'name-' tour.id}}>Title</label>
    <div class="uk-form-controls">
      {{input class='uk-input' id=(concat 'name-' tour.id) placeholder='Tour Title' value=tour.name}}
    </div>
  </div>

  <div class="uk-margin">
    <label class='uk-form-label' for='intro'>Introduction</label>
    <div class='uk-form-controls'>
      {{pell-editor class='tour-wysiwyg' value=tour.intro onChange=(action (mut tour.intro)) pellOptions=options}}
    </div>
  </div>

  <h2>Cover Image</h2>
  <div class='uk-child-width-1-2 uk-grid-match' uk-grid>
      <div>
        <div class='uk-margin'>
          <label class='uk-form-label' for={{concat (dasherize tour.name) '-' index}}>URL</label>
          <div class='uk-form-controls'>
            {{input class='uk-input' id=(concat (dasherize tour.name) '-' index) value=tourImage.url}}
          </div>
        </div>
      <div>
        <img src={{tourImage.url}} data-width='' data-height='' alt={{tourImage.url}}>
      </div>
    </div>
  </div>

  <section uk-accordion>
    <section>
<a class="uk-accordion-title" href="#">Add POIs</a>
<section class='uk-accordion-content'>
  {{#each pois as |poi|}}
  {{#unless poi.tourPosition}}
  <div class='uk-width-1-1'>
  {{#uk-button color='link' on-click=(action 'addToTour' tour poi)}}
  {{poi.name}}
  {{/uk-button}}
  </div>
  {{/unless}}
  {{/each}}
</section>
    </section>
  </section>

  {{#uk-sortable tagName='ul' class='uk-list uk-list-striped' on-stop=reorder}}
  {{#each tour.sortedPois as |poi|}}
      <li data-id={{poi.id}}>
        {{fa-icon 'bars'}}
        {{#uk-button color='link' on-click=(action 'addToTour' tour poi)}}{{poi.name}}{{/uk-button}}
        <span class='uk-align-right'>{{#uk-button color='link'}}{{fa-icon 'trash-alt'}}{{/uk-button}}</span>
      </li>
    {{else}} none...
  {{/each}}
{{/uk-sortable}}
    <div class='uk-child-width-auto@s' uk-grid>
    <div>
      {{#uk-button color='primary' on-click=save}}save{{/uk-button}}
    </div>
    <div>
      {{#uk-button color='secondary' on-click=cancel}}cancel{{/uk-button}}
    </div>
    <div>
      {{#uk-button color='link' on-click=delete}}delete{{/uk-button}}
    </div>
  </div>
</form>