<div class='uk-offcanvas-content'>
  {{#poi-detail panel=panel}}
  {{#if managePois}}
  {{manage-pois model=model reorderPois=(action 'reorderPois') highlight=(action 'editPoi') managePois=managePois
  new=(action 'newPoiType') delete=(action 'deletePoi')}}
  {{/if}}
  {{#if newPoi}}
  {{edit-poi poi=newPoi save=(action 'savePoi' newPoi) delete=(action 'deletePoi' newPoi) cancel=(action 'cancel'
  newPoi) newImage=(action 'newImage' newPoi)}}
  {{else}}
  {{#each model.pois as |poi|}}
  {{#if poi.active}}
  {{edit-poi poi=poi save=(action 'savePoi' poi) delete=(action 'deletePoi' poi) cancel=(action 'cancel' poi)
  deleteImage=(action 'deleteImage') newImage=(action 'newImage' poi)}}
  {{/if}}
  {{/each}}
  {{/if}}
  {{/poi-detail}}

  {{#if model.map}}
  {{edit-controls model=model newPoi=(action 'newPoi')}}
  {{/if}}

  {{#if model.paintingBounds}}
  {{#leaflet-map
  onLoad=(action 'initMap')
  onResize=(action 'reSize')
  bounds=model.paintingBounds
  zoomSnap=0
  bounceAtZoomLimits=false
  maxBoundsViscosity=1.0
  crs=crs
  bounceAtZoomLimits=false
  zoomControl=false
  onZoomend=(action 'zoomend')
  class='painting'
  as |features|}}

  {{features.image
  url=model.painting
  bounds=model.paintingBounds
  onLoad=(action 'setPainting')
  }}

  {{!-- {{#each model.pois as |poi|}}
  {{#if poi.active}}
  {{features.geoJSON
  geoJSON=poi.polygon
  style=setStyle
  onAdd=(action 'polygonAdded' poi)
  className='uk-animation-fade'
  }}
  {{/if}}
  {{features.geoJSON
  geoJSON=poi.point
  pointToLayer=(action 'setDot' poi)
  onClick=(action 'editPoi' poi)
  }}
  {{/each}} --}}

  {{!-- {{painting-pois
  pois=model.pois
  activePoi=activePoi
  editing=edit
  highlight=painting.highlightPoi
  }} --}}

  {{/leaflet-map}}
  {{/if}}
  {{!-- {{/edit-quad}} --}}
  <div class='bottom-nav bottom-nav' uk-grid>
    <div class='uk-visible@l uk-width-1-3@l uk-width-1-6@m uk-flex uk-flex-center uk-text-center'></div>
    <div class='uk-margin uk-width-1-3@l uk-width-1-3@m uk-width-1-1@s uk-transform-origin-bottom-center uk-child-width-expand@l uk-child-width-1-1@m uk-grid-large uk-text-center uk-flex-center uk-grid-collapse {{if activePoi 'uk-animation-slide-bottom-medium uk-animation-reverse' 'uk-animation-slide-bottom'}} uk-grid'>
      {{#uk-button color='primary' on-click=(action (toggle 'managePois' this))}}manage pois{{/uk-button}}
    </div>
    <div class='uk-margin uk-width-1-3@l uk-width-1-3@m uk-width-1-1@s uk-transform-origin-bottom-center uk-child-width-expand@l uk-child-width-1-1@m uk-grid-large uk-text-center uk-flex-center uk-grid-collapse {{if activePoi 'uk-animation-slide-bottom-medium uk-animation-reverse' 'uk-animation-slide-bottom'}} uk-grid'>
      {{#uk-button color='primary' on-click=(action 'editReCenter')}}Clear/recenter{{/uk-button}}
    </div>
    <div class='uk-visible@l uk-width-1-6 uk-transform-origin-bottom-center uk-grid-collapse uk-flex uk-flex-middle {{if activePoi 'uk-animation-slide-bottom-medium uk-animation-reverse' 'uk-animation-slide-bottom'}}'
      uk-grid>
      {{!-- {{map-controls map=_map reCenter=(action 'closePanel')}} --}}
    </div>
    <div class='uk-visible@l uk-width-1-6 uk-flex-middle uk-flex uk-flex-center'>
      <div id='minimap' style='display: none;'></div>

    </div>
  </div>

</div>